* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.App {
  text-align: center;
  background-color: #e7ecf2;
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
}
